.content-page {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* --- Course Box --- */
.course-box {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.course-thumb {
  width: 400px;
  border-radius: 12px;
  object-fit: cover;
}

.course-info h2 {
  margin-top: 0;
}

.course-stats {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.course-stats li {
  margin: 6px 0;
  font-size: 16px;
}

.dangky {
    display: flex;
}

/* --- QR Section --- */
.qr-section {
  text-align: center;
  margin: 40px 0;
  flex: 1;
  align-items: center;
  text-align: center;
}

.qr-image {
  width: 200px;
  margin-bottom: 12px;
}

.qr-section p {
  margin-top: 5px;
}

.steps-section {
    /* background: #fff; */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.step {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin: 15px 0;
}

.step-number {
    background: #007bff;
    color: #fff;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.step p {
    margin: 0;
    font-size: 16px;
    color: #333;
}
